<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="../static/styles/main.css">
    <link rel="stylesheet" href="../static/styles/homepage.css">
</head>
<body>
    <header>
        <nav class="menu-lateral">
            <div class="logo">
                <h2>Quantum LAB</h2>
            </div>
            <ul class="nav-links">
                <li><a href="#">Início</a></li>
                <li><a href="#">Trilha</a></li>
                <li><a href="#">Conteúdos</a></li>
                <li><a href="#">Exercícios</a></li>
                <li><a href="#">Laboratório</a></li>
                <li><a href="#">Perfil</a></li>
            </ul>
        </nav>
    </header>
    <main>

    </main>
    <footer>
        
    </footer>
</body>
</html>
