<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quantum LAB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">  
</head>
<body>
    <header>
        <div class="logo">
            <h2>Quantum LAB</h2>
        </div>
        <div class="links">
            <ul>
                <li><a>Jornada</a></li>
                <li><a>Explorar</a></li>
                <li><a>Mascote</a></li>
            </ul>
        </div>
        <div>
            <button class="botao">Começar</button>
        </div>
    </header>
    <main>
        <h1>Entre na caixa. Explore o impossível</h1>
    </main>
    <footer>
        
    </footer>
</body>
</html>