<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quantum LAB</title>
    <link rel="stylesheet" href="../static/styles/main.css">
    <link rel="stylesheet" href="../static/styles/index.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">  
</head>
<body>
    <header>
        <div class="logo">
            <div class="mascote-icon">
                <img src="../static/images/logo.png" alt="Mascote do Quantum LAB">
            </div>
            <h2>Quantum<span class="roxo">LAB</span></h2>
        </div>
        <nav class="links">
            <ul>
                <li><a href="#">A jornada</a></li>
                <li><a href="#">Módulos</a></li>
                <li><a href="#">O Quark</a></li>
            </ul>
        </nav>

        <div class="acoes">
            <a href="#" class="link-entrar">Entrar</a>
            <a href="#" class="botao1">Começar</a>
        </div>

    </header>
    <main>

    <main>
        <section id="inicio">
            <div class="hero-conteudo">
                
                <div class="hero-texto">
                    <div class="badge">
                        <i class="fa-solid fa-sparkles"></i> Aprenda física quântica brincando
                    </div>
                    
                    <h1>Descubra o universo quântico <span class="roxo">do seu jeito</span></h1>
                    
                    <p>Comece pelo básico. Explore o estranho. Descubra o quântico</p>
                    
                    <div class="hero-botoes">
                        <a href="#" class="botao1">Começar a explorar</a>
                        <a href="#" class="botao2">Ver a jornada</a>
                    </div>
                    
                </div>  

                <div class="hero-mascote">
                    <div class="circulo-mascote">
                        <img src="../static/images/Quantum.png" alt="Mascote">
                    </div>
                </div>
                
            </div>
        </section>

        <section id="explicar">
            <div class="titulo-h2">
                <h2>De "o que é isso?" a "entendi tudo"</h2>
                <p>Cada etapa te leva um pouco mais longe. Você começa curioso e termina dominando.</p>
            </div>
            <div class="trilha">

            </div>
        </section>
        <section id="jornada">
            <div class="titulo-h2">
                <h2>Sua jornada começa por aqui</h2>
                <p>Doze módulos que parecem fases de uma aventura</p>
            </div>
            <div class="card">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="botao2">
                <a href="#">Ver todos os módulos</a>
            </div>
        </section>
        <section id="mascote">
            <div>
                <div>
                    <img src="#" alt="Mascote do Quantum LAB">
                </div>
                <div>
                    <h2>Conheça o mascote</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit accusamus repellendus tenetur sed nobis nulla autem beatae earum quis accusantium tempore esse ex, eaque eos ea debitis voluptatum, a consectetur!</p>
                </div>
            </div>
        </section>
        <section id="pronto">
            <div>

            </div>
        </section>

    </main>
    <footer>
        <div>

        </div>
    </footer>
</body>
</html>