<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="view-transition" content="same-origin">
    <title>Página em Desenvolvimento - QuantumLAB</title>
    <link rel="stylesheet" href="../static/styles/main.css">
    <link rel="stylesheet" href="../static/styles/manutencao.css">
</head>
<body>

    <main class="container">
        <div class="dev-card">
            <div class="circle-decoration circle-bottom-left"></div>
            <div class="circle-decoration circle-top-right"></div>

            <div class="mascot-box-icon">
                <div class="cat-head">
                    <div class="cat-ear ear-left"></div>
                    <div class="cat-ear ear-right"></div>
                    <div class="cat-face">
                        <div class="cat-eye"></div>
                        <div class="cat-eye"></div>
                    </div>
                </div>
                <div class="box-body"></div>
            </div>

            <h1>Página em desenvolvimento!</h1>
            <p style="color: white;">Estamos construindo esta funcionalidade com muito cuidado. Em breve você poderá explorar novos conteúdos quânticos por aqui.</p>

            <div class="card-buttons">
                <a href="homepage.html" class="btn-white"><i class="fa-solid fa-house"></i> Voltar ao início</a>
            </div>
        </div>
    </main>
    

</body>
</html>